[submodule "system"]
	path = system
	url = http://github.com/kohana/core.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "application/vendor/awstools"]
	path = application/vendor/awstools
	url = https://github.com/chrismeller/awstools.git
